.page-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feedings-meal-container {
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  min-width: 280px;
  border: var(--borders);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-box-shadow);
  background-image: url('../../images/blueforest.jpg');
  color: whitesmoke;
  margin-top: 20px;
}

.title-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  width: 100%;
  min-width: 280px;
  border: var(--borders);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-box-shadow);
  background-image: url('../../images/blueforest.jpg');
  color: whitesmoke;
  margin-top: 20px;
}

.feedings-moss-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.meals-and-frogs {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.title-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.unfed,
.fed,
.no-frogs,
.all-frogs {
  margin: 0;
  font-weight: bold;
}

.unfed,
.no-frogs {
  color: var(--danger);
}

.fed,
.all-frogs {
  color: var(--submit);
}

.rock-details {
  border: 2px solid whitesmoke;
  background-color: #1D1D35;
  width: 95%;
  padding: 20px;
}

.rock-details h1 {
  font-size: var(--font-xxl);
  margin: 15px 0 3px;
}

.rock-details h2 {
  font-size: var(--font-xl);
  margin: 0 0 10px;
  margin-top: 0;
  margin-bottom: 10px;
}

.rock-actions {
  padding-right: 20px;
  padding-top: 20px;
}

.rock-details h3 {
  margin: 20px 0 10px;
  font-size: var(--font-l);
}

.rock-details p {
  font-size: var(--font-reg);
  margin: 5px 0;
}

.feedings table {
  width: calc(100% - 16px);
  text-align: left;
  border-collapse: collapse;
  margin: 0 8px;
}

.feedings td {
  padding: 8px 5px;
  font-size: var(--font-reg);
}

.feedings th {
  font-size: var(--font-l);
  padding: 5px 5px 0;
  border-bottom: rgb(36, 116, 248) solid 2px;
}

.feedings tr:nth-child(even) {
  background-color: #f3f3fd;
}

#file-input {
  overflow: hidden;
  position: absolute;
  width: 0.1px;
  height: 0.1px;
}

#file-name {
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .rock-container {
    padding: 35px 30px;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }

  .rock-img {
    width: 25%;
    max-width: 250px;
    margin-right: 25px;
  }

  .feedings-frog-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .feedings-frog-container > section {
    width: 45%;
  }
}

@media only screen and (min-width: 1024px) {
  .feedings-frog-container {
    padding: 0 40px;
  }
}