{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="page-header">
  <h1>Release Frog?</h1>
  {% comment %} <img src="{% static 'images/nerd-cat.svg' %}" alt="A cat using a computer"/> {% endcomment %}
</div>
<h2>Are you sure you want to release {{ object.name }} back into the wild?</h2>

<form action="" method="POST" class="form">
  {% csrf_token %}
  <a 
    href="{% url 'frogs_detail' frog.id %}" 
    class="btn secondary"
  >
    Cancel
  </a>
  <button type="submit" class="btn danger">Yes - Freedom!</button>
</form>

{% endblock %}