{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/frogs/frog-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>All Frogs</h1>
</section>

<section class="card-container">
  {% for frog in frog_list %}
  <div class="card">
    <div class="card-bg">
      <div class="card-content">
        <h2>{{ frog.name }}</h2>
        <p>A {{frog.size }} {{frog.species}}</p>
        <a href="{% url 'frogs_detail' frog.id %}">
        </a>
      </div>
        <lottie-player
        id="firstLottie"
        src="https://assets6.lottiefiles.com/packages/lf20_ypoyndji.json"
        style="width:270px; height: 270px; margin-left: 30px; margin-top: -200px;"
        autoplay
        loop
        >
        </lottie-player>
    </div>
  </div>
  {% endfor %}
</section>

{% endblock %}