{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
  rel="shortcut icon"
  type="image/png"
  href=""
  >
  <title>Rock Collector</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="https://use.typekit.net/zyt1lha.css">
  {% block head %}
  {% endblock %}
</head>
<body>
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <header>
  </div>
  <nav>
    <ul>
      <li>
        <lottie-player
          id="firstLottie"
          src="https://assets3.lottiefiles.com/packages/lf20_N8vR3LvkCB.json"
          style="width:50px; height: 50px;"
          autoplay
          loop
          onClick=
        >
        </lottie-player>
        </li>
        <li><a href="{% url 'rocks_index' %}">All Rocks</a></li>
        <li><a href="{% url 'frogs_index' %}">All Frogs</a></li>
        <li><a href="{% url 'rocks_create' %}">Add a Rock</a></li>
        <li><a href="{% url 'frogs_create' %}">Add a Frog</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>