{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="https://use.typekit.net/zyt1lha.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
{% endblock %}

{% block content %}

<section>
  <div id="titleDiv">
    <h1>Rock Collector</h1>
  </div>
  <lottie-player
  id="firstLottie"
  src="https://assets3.lottiefiles.com/packages/lf20_N8vR3LvkCB.json"
  style="width:600px; height: 600px; margin-top: -300px"
  autoplay
  loop
  >
</lottie-player>
<lottie-player
  id="firstLottie"
  src="https://assets6.lottiefiles.com/packages/lf20_ypoyndji.json"
  style="width:270px; height: 270px; margin-left: 30px; margin-top: -400px;"
  autoplay
  loop
>
</lottie-player>
</section>

{% if not user.is_authenticated %}
<section>
  <form action="{% url 'home' %}" method="post" class="login">
    <h1>Login</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}">
    <button type="submit" class="btn submit">Login</button>
  </form>
</section>

{% endblock %}