{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/rocks/rock-detail.css' %}"
/>
<script defer src="{% static 'js/rock-detail.js' %}"></script>
{% endblock %}

{% block content %}

<div class="page-div">
  <section class="title-section">
    <div class="title-container">
      <div class="rock-details">
        <h1>{{ rock.name }}</h1>
        <h3>{{ rock.type }} || {{ rock.color }} || {{ rock.hardness }}</h3>
        <div class="rock-actions">
          <a href="{% url 'rocks_update' rock.id %}" class="btn warn">Edit</a>
          <a href="{% url 'rocks_delete' rock.id %}" class="btn danger">Delete</a>
        </div>
      </div>
      <div class="rock-details">
        <img 
          src="{% static 'images/collectedrocks.png' %}" 
          alt="A pile of collected rocks"
          style="width:155px; height:155px;"
          id="rockPile"
        />
      </div>
    </div>
  </section>

<div class="meals-and-frogs">
  <section class="meal-section">
    <div class="feedings-meal-container">
      <div class="rock-details">
        <h2>Nom Nom Nom</h2>
        <div class="feedings-moss-container">
          <img 
            src="{% static 'images/moss.png' %}" 
            alt="A rock with moss"
            style="width:100px; height:50px"
          />
          <img 
            src="{% static 'images/mushies.png' %}"
            alt="A rock with moss and mushies"
            style="width:100px; height:50px;"
          />
          <img 
            src="{% static 'images/lichen.png' %}" 
            alt="A piece of lichen"
            style="width:100px; height:50px;"
          />
        </div>
        <h2>Add a Feeding</h2>
          <form
            action="{% url 'add_feeding' rock.id %}"
            method="post" 
            class="subsection-content"
          >
          {% if rock.fed_for_today %}
            <p class="fed">{{rock.name}} has been fed all their meals for today!</p>
          {% else %}
            <p class="unfed">{{rock.name}} might be hungry!</p>
          {% endif %}
            {% csrf_token %}
            {{ feeding_form.as_p }}
            <button type="submit" class="btn submit">Add Feeding</button>
          </form>
      </div>
        <div class="rock-details">
        <h2>Past Feedings</h2>
          {% if rock.feeding_set.all.count %}
          <table>
            <thead>
              <tr><th>Date</th><th>Meal</th></tr>
            </thead>
            <tbody>
              {% for feeding in rock.feeding_set.all %}
                <tr>
                  <td>{{feeding.date}}</td>
                  <td>{{feeding.get_meal_display}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
        {% else %}
        <p>{{rock.name}} has never been fed 😔</p>
      </div>
        {% endif %}
    </div>
  </section>

  <section class="frog-section">
    <div class="feedings-meal-container">
      <div class="rock-details">
      <h2>Frogs</h2>
      {% if rock.frogs.count %}
      <h2>{{ rock.name }}'s Frogs</h2>
          {% for frog in rock.frogs.all %}
            <div class="frog-container">
              <a href="{% url 'frogs_detail' frog.id %}">
                <p>A {{ frog.size }} {{ frog.species }}</p>
              </a>
            </div>
          {% endfor %}
          {% else %}
        <p class="no-frogs">{{ rock.name }} doesn't have any frogs</p>
        {% endif %}
      </div>
      <div class="rock-details">
      <h2>Available Frogs</h2>
      {% if frogs.count %}
        {% for frog in frogs.all %}
          <div class="frog-container">
            <div 
              class="color-block"
            ></div>
            <a href="{% url 'frogs_detail' frog.id %}">
              <p>A {{ frog.size }} {{ frog.species }}</p>
            </a>
            <form action="{% url 'assoc_frog' rock.id frog.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn submit">Give Frog</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p class="all-frogs">
          {{ rock.name }} already has all the available frogs 🥳
        </p>
      {% endif %}
    </div>
  </section>
</div>

</div>

{% endblock %}